<div class="mx-auto" style="width: 25%">
    <div style="text-align: center;">
        <h4>Login</h4>
    </div>
    <form>
        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="txtUsuario">Usuario</label>
                <input type="text" class="form-control" id="txtUsuario" placeholder="Usuario">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="inputPsw">Clave</label>
                <input type="password" class="form-control" id="inputPsw" placeholder="Contraseña">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="inputPsw"></label>
                <button type="submit" class="btn btn-primary">Ingresar</button>
            </div>
        </div>
    </form>
    <br/>
</div>